body{
    margin: 0;
    padding: 0;
}
.center {
    text-align: center;
}

.loginConteiner {
    margin-top: 150px;
    color:white;
}

.statusLogado {
    color: red;
}

.navStyle  * {
    color: white !important;
}